{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Module Report {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Projects</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Project</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Module Report</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
        </div>
    </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
      <div class="row">
          <div class="col">
              <div class="card">
                  <!-- Card header -->
                    <div class="card-header border-0 row">
                      <h2 class="col-10">Module Report</h2>

                      <div class="dt-buttons btn-group flex-wrap p-2 col ml-5"> 
                        <button class="btn export btn-sm btn-default" data-type="csv" type="button" name="button" style="margin-right:2px;"><span>Export</span></button> 

                        <button class="btn print btn-sm btn-default" data-type="pdf" type="button" name="button"><span>Print</span></button> 
                    </div>

                        <form method="get" class="mt-4">
                            <div class="row">
                                <div class="col">
                                    {{myFilter.form.project}}
                                </div>
                                <div class="col">
                                    {{myFilter.form.moduleName}}
                                </div>
                                <div class="col-3">
                                    {{myFilter.form.description}}
                                </div>
                                <div class="col">
                                    {{myFilter.form.status}}
                                </div>
                                <div class="col">
                                    {{myFilter.form.start_date}}
                                </div>
                                <div class="col">
                                    <input type="submit" class="btn btn-primary" value="Search" />
                                </div>
                            </div>
                        </form>

                    </div>
                    
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush text-center" id="myTable">
              <thead class="thead-light">
                <tr>
                  <th class="text-center" scope="col" class="sort" data-sort="name">Project
                    {% comment %} <a href="?sort_by=project&amp;direction=asc"><i class="fas fa-arrow-up ml-1"></i></a> {% endcomment %}
                    {% comment %} <a href="?sort_by=project&amp;direction=desc"><i class="fas fa-arrow-down"></i></a> {% endcomment %}
                  </th>
                  <th class="text-center" scope="col" class="sort" data-sort="budget">Module
                    {% comment %} <a href="?sort_by=moduleName&amp;direction=asc"><i class="fas fa-arrow-up ml-1"></i></a> {% endcomment %}
                    {% comment %} <a href="?sort_by=moduleName&amp;direction=desc"><i class="fas fa-arrow-down"></i></a> {% endcomment %}
                </th>
                <th class="text-center" scope="col" class="sort" data-sort="status">Description</th>
                  <th class="text-center" scope="col" class="sort" data-sort="status">Status
                    {% comment %} <a href="?sort_by=status&amp;direction=asc"><i class="fas fa-arrow-up ml-1"></i></a> {% endcomment %}
                    {% comment %} <a href="?sort_by=status&amp;direction=desc"><i class="fas fa-arrow-down"></i></a> {% endcomment %}
                  </th>
                  <th class="text-center" scope="col" class="sort" data-sort="budget">Start Date
                    {% comment %} <a href="?sort_by=startDate&amp;direction=asc"><i class="fas fa-arrow-up ml-1"></i></a> {% endcomment %}
                    {% comment %} <a href="?sort_by=startDate&amp;direction=desc"><i class="fas fa-arrow-down"></i></a> {% endcomment %}
                  </th>
                  {% comment %} <th scope="col">Users</th>
                  <th scope="col" class="sort" data-sort="completion">Completion</th>
                  <th scope="col"></th> {% endcomment %}
                </tr>
              </thead>
              <tbody class="list">
                {% if projectmodulelist %}
                {% for project in projectmodulelist %}
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            {% comment %} <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                            </a> {% endcomment %}
                            <div class="media-body">
                                <span class="name mb-0 text-sm">{{ project.project.title }}</span>
                            </div>
                        </div>
                    </th>
                    <td class="budget">
                        {{ project.moduleName }}
                    </td>
                    
                    <td class="budget text-wrap">
                        {{ project.description }}
                    </td>
                    
                    <td class="budget">
                        <span class="badge badge-dot mr-4">
                            <i class="{{ project.status|lower|cut:" " }}"></i>
                            <span class="status">{{ project.status }}</span>
                        </span>
                    </td>
                    <td class="budget">
                        {{ project.startDate }}
                    </td>
                
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5" class="text-center"><h3 class="text-danger">NO DATA FOUND!!</h3></td>
            </tr>
            {% endif %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="{% static '/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% comment %} <script src="{% static '/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script> {% endcomment %}

<script>

    document.getElementById("id_project").classList.add("form-control");
    document.getElementById("id_moduleName").classList.add("form-control");
    document.getElementById("id_moduleName").placeholder = "Module";
    document.getElementById("id_description").classList.add("form-control");
    document.getElementById("id_description").placeholder = "Description";
    document.getElementById("id_status").classList.add("form-control");
    document.getElementById("id_start_date").classList.add("form-control", "datepicker");
    document.getElementById("id_start_date").placeholder = "MM/DD/YYYY";

</script>

<script src="/static/assets/js/plugins/datatables.js" type="text/javascript"></script>
<script>
    if (document.getElementById('myTable')) {
      const dataTableSearch = new simpleDatatables.DataTable("#myTable", {
        searchable: false,
        fixedHeight: false,
        paging: false
      });

      document.querySelectorAll(".export").forEach(function(el) {
        el.addEventListener("click", function(e) {
          var type = el.dataset.type;

          var data = {
            type: type,
            filename: "project-report-" + type,
          };

          if (type === "csv") {
            data.columnDelimiter = "|";
          }

          //datatable.print();
          dataTableSearch.export(data);
        });
      });
      
      document.querySelectorAll(".print").forEach(function(el) {
        el.addEventListener("click", function(e) {
          var type = el.dataset.type;

          var data = {
            type: type,
            filename: "project-report-" + type,

          };

          dataTableSearch.print(data);
        });
      });
    };
  </script>

<script>
  function searchFromProject(){
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>
{% endblock javascripts %}
