{% extends 'layouts/base-fullscreen-password-reset.html' %}

{% block title %} Reset Password {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-3">
              <div class="text-muted text-center mt-2 mb-3">
                <h1>Reset Password</h1>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">

                {% if msg %}
                  <p>{{ msg }}</p>
                {% endif %}  

              </div>

              <form method="POST">

                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        {{ form.new_password1 }}
                    </div>
                </div>
                <span class="text-error">{{ form.new_password1.errors }}</span>

                <div class="form-group">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        {{ form.new_password2 }}
                    </div>
                </div>
                <span class="text-error">{{ form.new_password2.errors }}</span>
                
                <div class="text-center">
                  <input type="submit" value="Reset Password" class="btn btn-primary my-4">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
  document.getElementById("id_new_password1").classList.add("form-control");
  document.getElementById("id_new_password1").placeholder = "Enter New Password";
  document.getElementById("id_new_password2").classList.add("form-control");
  document.getElementById("id_new_password2").placeholder = "Confirm Password";
</script>

{% endblock javascripts %}