{% extends 'layouts/base.html' %}

{% block title %} Change Password {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Change Password</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-3">
            <div class="text-muted text-center mt-2 mb-3">
              <h1>Change Password</h1>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center mb-4">

              <h1 style="font-size:80px;"><i class="fas fa-check-circle" style="color: #08a108;"></i></h1>
              <h1 class="font-weight-bold my-3">Success!</h1>
              <p class="my-1 font-weight-bold">Your Password has been changed successfully.</p> 

            </div>

              <div class="text-center">
                  <a href="{% url 'dashboard' %}" class="btn btn-primary my-4">Go to Dashboard</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %} {% endblock javascripts %}
